language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"
  - "nightly"

script:
  - python setup.py build
  - python setup.py install
  - pip install pytest
  - pytest
